<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vkwall">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ul.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_vk_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ul.main.activity.EditProfileActivity"
            android:parentActivityName=".ul.main.activity.ProfileActivity" />
        <activity
            android:name=".ul.main.activity.DetailsProfileActivity"
            android:parentActivityName=".ul.main.activity.ProfileActivity" />
        <activity
            android:name=".ul.main.activity.SearchActivity"
            android:parentActivityName=".ul.main.activity.MainActivity" />
        <activity android:name=".ul.main.activity.NewsFeedActivity" />
        <activity
            android:name=".ul.main.activity.FriendsActivity"
            android:parentActivityName=".ul.main.activity.MainActivity" />
        <activity
            android:name=".ul.main.activity.VideoActivity"
            android:parentActivityName=".ul.main.activity.MainActivity" />
        <activity
            android:name=".ul.main.activity.ProfileActivity"
            android:parentActivityName=".ul.main.activity.MainActivity" />
        <activity
            android:name=".ul.main.activity.DocsActivity"
            android:parentActivityName=".ul.main.activity.MainActivity" />
        <activity
            android:name=".ul.main.activity.FaveActivity"
            android:parentActivityName=".ul.main.activity.MainActivity" />
        <activity
            android:name=".ul.main.activity.PhotosActivity"
            android:parentActivityName=".ul.main.activity.MainActivity" />
        <activity
            android:name=".ul.main.activity.GroupActivity"
            android:parentActivityName=".ul.main.activity.MainActivity" />
        <activity android:name=".ul.main.activity.WallActivity" />
        <activity
            android:name=".ul.main.activity.FriendsInfoActivity"
            android:parentActivityName=".ul.main.activity.FriendsActivity" />
        <activity
            android:name=".ul.main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>