<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vkwall">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ul.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_vk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ul.main.NewsFeedActivity"></activity>
        <activity
            android:name=".ul.main.FriendsActivity"
            android:label="Друзья"
            android:parentActivityName=".ul.main.MainActivity" />
        <activity
            android:name=".ul.main.VideoActivity"
            android:label="Видео"
            android:parentActivityName=".ul.main.MainActivity" />
        <activity
            android:name=".ul.main.ProfileActivity"
            android:parentActivityName=".ul.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ul.main.DocsActivity"
            android:label="Документы"
            android:parentActivityName=".ul.main.MainActivity" />
        <activity
            android:name=".ul.main.FaveActivity"
            android:label="Закладки"
            android:parentActivityName=".ul.main.MainActivity" />
        <activity
            android:name=".ul.main.PhotosActivity"
            android:label="Фотографии"
            android:parentActivityName=".ul.main.MainActivity" />
        <activity
            android:name=".ul.main.GroupActivity"
            android:label="Группы"
            android:parentActivityName=".ul.main.MainActivity" />
        <activity
            android:name=".ul.main.WallActivity"
            android:label="Запись на стене" />
        <activity
            android:name=".ul.main.FriendsInfoActivity"
            android:parentActivityName=".ul.main.FriendsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ul.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>